<app-spoiler-item header="Angular Lorem text" [isVisible]="true">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores doloremque molestiae
  nihil quis sequi suscipit. Animi dolor earum eveniet ex facere facilis illum in, numquam omnis rerum
  sint soluta sunt tempora tenetur ullam? A ab, alias doloribus expedita iusto obcaecati? Accusamus
  adipisci atque autem cupiditate eligendi explicabo, ipsa maiores nam nihil nisi obcaecati optio porro
  quidem soluta veniam veritatis, vitae! Commodi, corporis esse excepturi magnam mollitia placeat
  recusandae. Architecto autem consequuntur corporis cum dolor fugiat, obcaecati odio quas quos repellat
  repellendus sed, totam voluptate. Animi atque autem enim excepturi iusto quia reiciendis sapiente.
  Architecto doloremque fugiat nulla sunt veniam!
</app-spoiler-item>

<app-spoiler-item header="React Lorem text" [isVisible]="false">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores doloremque molestiae
  nihil quis sequi suscipit. Animi dolor earum eveniet ex facere facilis illum in, numquam omnis rerum
  sint soluta sunt tempora tenetur ullam? A ab, alias doloribus expedita iusto obcaecati? Accusamus
  adipisci atque autem cupiditate eligendi explicabo, ipsa maiores nam nihil nisi obcaecati optio porro
  quidem soluta veniam veritatis, vitae! Commodi, corporis esse excepturi magnam mollitia placeat
  recusandae. Architecto autem consequuntur corporis cum dolor fugiat, obcaecati odio quas quos repellat
  repellendus sed, totam voluptate. Animi atque autem enim excepturi iusto quia reiciendis sapiente.
  Architecto doloremque fugiat nulla sunt veniam!
</app-spoiler-item>

<app-spoiler-item header="Vue Lorem text" [isVisible]="false">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores doloremque molestiae
  nihil quis sequi suscipit. Animi dolor earum eveniet ex facere facilis illum in, numquam omnis rerum
  sint soluta sunt tempora tenetur ullam? A ab, alias doloribus expedita iusto obcaecati? Accusamus
  adipisci atque autem cupiditate eligendi explicabo, ipsa maiores nam nihil nisi obcaecati optio porro
  quidem soluta veniam veritatis, vitae! Commodi, corporis esse excepturi magnam mollitia placeat
  recusandae. Architecto autem consequuntur corporis cum dolor fugiat, obcaecati odio quas quos repellat
  repellendus sed, totam voluptate. Animi atque autem enim excepturi iusto quia reiciendis sapiente.
  Architecto doloremque fugiat nulla sunt veniam!
</app-spoiler-item>
